@import "tailwindcss";

@theme {
  --color-amazon-orange: #f97316;
  --color-amazon-dark: #0f1111;
}

html,
body,
#root {
  max-width: 100%;
  overflow-x: clip;
}

body {
  background-color: #f8f9fa;
  color: var(--color-amazon-dark);
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

